/* ///////////////// */
/* /// Main Page /// */
/* ///////////////// */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container > .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 10px;
}

.container > .section > h2 {
  margin: 30px 0 20px;
  font-size: 20pt;
}

.container > .section > p {
  text-align: center;
}

.container > .section-home {
  padding-top: 100px;
  background-color: #222222;
}

.container > .section-home > .wrap-profile-image {
  width: 350px;
}

.container > .section-home > .wrap-profile-image > img {
  width: 90%;
}

.container > .section-home > h2,
.container > .section-home > p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 0;
  color: #ffffff;
}

.container > .section-contact > a {
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

.dp-block {
  display: block !important;
}

aside {
  position: fixed;
  display: none;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: 50px;
  padding: 9px;
  background-color: #222222;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 800px) {
  .container > .section-home > h2 {
    display: block;
    text-align: center;
    line-height: 50pt;
  }

  aside {
    margin: 20px;
  }
}
